
.home{
    text-align: center;
    margin-top: 300px;
  }
  
  .home-heading{
    color: white;
    font-weight: lighter;
  }
  
  .home-bt{
    color: white;
    font-weight: lighter;
    background-color: rgb(7, 179, 7);
    width: 200px;
    height: 40px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
  }